body{
    box-sizing: border-box;
    background: gray;
    
}
.container{
    background: #cdcbcb;
    padding: 5%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    

    
}

.box{
    background:coral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
    &.medium{
        grid-row: span 2;
        grid-column: span 2;
    }

    &.large{
        grid-row: span 3;
        grid-column: span 3;
    }

    &.tall{
        grid-row: span 3;
        grid-column: span 2;

    }

    &.wide{
        grid-row: span 2;
        grid-column: span 3;

    }

    
   
}

.style{
    
    background-color: coral;
    background-blend-mode:multiply;
    background-size: cover;
    background-position: top right;
    font: bold 2.5em black;
    opacity: 0.5;
    transition: all ease-in-out 400ms;
    &:hover{
        opacity: 0.9;
    }
}
    
    
    


