body{
    box-sizing: border-box;
    background: gray;
    
}
.container{
    background: #cdcbcb;
    padding: 5%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    

    
}

.box{
    background:coral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
    &.medium{
        grid-row: span 2;
        grid-column: span 2;
    }

    &.large{
        grid-row: span 3;
        grid-column: span 3;
    }

    &.tall{
        grid-row: span 3;
        grid-column: span 2;

    }

    &.wide{
        grid-row: span 2;
        grid-column: span 3;

    }

    
   
}

.style{
    
    background-color: rgb(68, 12, 12);
    background-blend-mode:multiply;
    background-size: cover;
    background-position: top right;
    font: bold 2.5em black;
    opacity: 0.4;
    transition: all ease-in-out 400ms;
    &:hover{
        opacity: 0.9;
    }

    
    
    

}
.container>:nth-child(1){
    background: url(//unsplash.it/200/200) ;
    
}
.container>:nth-child(2){
    background: url(//unsplash.it/400/400) ;
    
}
.container>:nth-child(3){
    background: url(//unsplash.it/300/300) ;
    
}
.container>:nth-child(4){
    background: url(//unsplash.it/100/100) ;
    
}
.container>:nth-child(5){
    background: url(//unsplash.it/500/300) ;
}
.container>:nth-child(6){
    background: url(//unsplash.it/400/500) ;
  
}

